<ion-header>
  <ion-toolbar>
    <ion-title>Balises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let data of userService.combinedData">
      <ion-item *ngIf="data.positionData.position">
        <ion-avatar slot="start">
          <ion-img [src]="data.trackerData.pictureUrl"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ data.trackerData.name}}</h2>
          <p>{{ data.positionData.position.speed }} km/h</p>
          <p>{{ reverseGeocodedAddresses[data.imei] || 'Loading...' }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>


