<ion-header>
  <ion-toolbar style="--background: #EC851E;" class="toolbar">
    <ion-title class="title">Balises</ion-title>
    <ion-select [(ngModel)]="selectedType" (ionChange)="handleEvent($event)" interface="popover" style="--background: #EC851E; color: white;">
      <ion-select-option value="vehicule">Véhicules</ion-select-option>
      <ion-select-option value="Autres">Personnes</ion-select-option>
      <ion-select-option value="Batiments">Autres</ion-select-option>
    </ion-select> 
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="color: white;">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: black;">
  <ion-list style="background: black;">
    <ng-container *ngIf="filtered">
      <ng-container *ngFor="let tracker of filtered">
        <ion-item (click)="selectItem(tracker)" style="--background: black;border-bottom: solid 1px #EC851E;">
          <ion-avatar slot="start">
            <ion-img [src]="tracker.pictureUrl" *ngIf="tracker.pictureUrl"></ion-img>
          </ion-avatar>
          <ion-icon name="stop-circle-outline"
              *ngIf="selectedType === 'vehicule' && tracker.info && tracker.info.position.speed === '0.0'"
              style="color: red">
          </ion-icon>
          <ion-icon name="arrow-up-circle-outline"
              *ngIf="selectedType === 'vehicule' && tracker.info && tracker.info.position.speed !== '0.0' && 'position' in tracker.info && 'heading' in tracker.info.position"
              [style.transform]="'rotate(' + tracker.info.position.heading + 'deg)'"
              style="color: green">
          </ion-icon>
          <ion-label style="color: white;">
            <h2>{{tracker.name}}</h2>
            <p>{{ tracker.address ? ((tracker.address.road ?? '') + ' ' + (tracker.address.house_number ?? '') + ', ' + (tracker.address.postcode ?? '') + ' ' + (tracker.address.town ?? '') + ', ' + (tracker.address.country ?? '')) : '' }}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>


