.left-table {
  color: #EC851E;
}

.right-table {
  color: #888;
}

.infos {
  border-bottom: solid 1px #EC851E;
}

.adresse {
  color: #888;
  opacity: 0.8;
}

.name {
  color: white;
  font-size: large;
  margin-top: 1%;
}

.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2% auto;
}

table {
  text-align: left;
  width: 50%;
  margin-left: 25%;
  margin: 2% auto;
}