<ion-header>
  <ion-toolbar style="--background: #EC851E;">
    <ion-title style="color: white;">Liste des trips</ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: white;" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: black;">
  <div class="infos" *ngIf="trips">
    <div class="user">
      <span class="name">{{ data.trackerData.name }}</span>
      <span class="adresse">{{ data.address.road ?? '' }} {{ data.address.house_number ?? '' }}, {{ data.address.postcode ?? '' }} {{ data.address.town ?? '' }}</span>
    </div>
    <!-- <table>
      <tr>
        <td class="left-table">Durée totale:</td>
        <td class="right-table">Test</td>
      </tr>
      <tr>
        <td class="left-table">Distance totale:</td>
        <td class="right-table"></td>
      </tr>
      <tr>
        <td class="left-table">Vitesse moyenne:</td>
        <td class="right-table"></td>
      </tr>
      <tr>
        <td class="left-table">Vitesse maximale:</td>
        <td class="right-table">{{ data.positionData.maxspeed }}</td>
      </tr>
    </table> -->
  </div>
  <ion-list style="background: black;">
    <ion-item *ngFor="let trip of trips; index as tripIndex" (click)="centerMapOnLabel(trip)" style="--background: black;">
      <ion-label style="color: #EC851E;">
        {{ tripIndex+1 }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
