<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pw-title">
        <div class="pw-logo">
          <ion-icon name="key-outline"></ion-icon>
        </div>      
        <div class="pw-font">Password</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/logo atk new white.png" alt="Logo">
    </div>
    <form action="">
      <div class="input-container">
        <ion-input type="email" expand="block" label="" placeholder="Email" [(ngModel)]="email" name="email"></ion-input>
        <ion-input type="password" expand="block" placeholder="Password" label="" [(ngModel)]="password" name="password"></ion-input>
      </div>     
    </form>
    <div class="buttons-container">
      <ion-button color="success" expand="block" shape="round" size="medium" (click)="goToHomePage()">Confirm</ion-button>
      <ion-button color="danger" expand="block" shape="round" size="medium">Cancel</ion-button>
    </div>
    <div class="linkDiv">
      <span class="link">Pour créer un compte, cliquer sur <a href="https://autotracking.eu/contact/" target="_blank">ATK</a></span>
    </div>
  </div>
</ion-content>