<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pw-title">
        <div class="pw-logo">
          <i class="fa fa-key"></i>
        </div>      
        <div class="pw-font">LOGIN</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #333; color: #fff;">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/logo atk new.png" alt="Logo">
    </div>
    <div class="input-container">
      <ion-input type="email" placeholder="Enter email"></ion-input>
      <ion-input type="password" placeholder="Enter password"></ion-input>
    </div>
    <div class="buttons-container">
      <ion-button color="success" expand="block" shape="round" >Confirm</ion-button>
      <ion-button color="danger" expand="block" shape="round" >Cancel</ion-button>
    </div>
  </div>
</ion-content>

<!-- (click)="onConfirm()"
(click)="navigation('home')" -->