/* HEADER */
ion-toolbar {
  --background: black;

  @media (prefers-color-scheme: dark) {
    --background: var(--ion-background-color);
  }

  height: 50px !important;
}

ion-content {
  --overflow: hidden;
}

.md ion-toolbar {
  --padding-top: var(--status-bar-height);
}

ion-title {
  font-size: 22px;
  font-family: WorkSans-Bold;
  font-weight: 900;
  color: white;
}

ion-title.md {
  text-align: center;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --border-radius: 4px;

  ion-img {
    aspect-ratio: 1.5;
    object-fit: cover;
  }
}

/* ITEMS MENU */

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EC851E;
  height: 50px;
}

span {
  font-size: x-large;
  color: white;
}

.user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disconnect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 50%;
}

.infos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

/* BODY */

#mapId {
  height: 100%;
  width: 100%;
}

.menu-button {
  position: absolute;
  width: 15%;
  height: 10%;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

.leaflet-tooltip-own {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.rotate-icon {
  transform-origin: center center !important;
  margin-left: -40px;
  margin-top: -80px;
}

.no-transition {
  transition: none !important;
}