<ion-menu contentId="main-content">
  <ion-content style="--background: black;">
    <ion-list style="background: black;">
        <ion-item style="background: black;">
          <div class="user">
            <div class="icon" style="font-size: 10em;"><ion-icon name="person-circle-outline"></ion-icon></div>
            <div class="label" style="font-size: xx-large;"><ion-label><div>{{name}}</div></ion-label></div>
          </div>
        </ion-item>
      <div class="infos" style="color:white;">
        <div><ion-icon name="mail-outline"></ion-icon>{{email}}</div>
        <div><ion-icon name="call-outline"></ion-icon>{{mobile}}</div>
      </div> 
      <div class="disconnect">
        <ion-icon name="exit-outline" style="font-size: xx-large; color: red;"></ion-icon>
        <ion-button expand="full" size="large" color="success" style="border-radius: 10px;" (click)="disconnect()">
          Déconnexion
        </ion-button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="menu-items">
    <span class="select" (click)="presentModal()"><fa-icon icon="hand-pointer"></fa-icon></span>
    <span class="center"><fa-icon icon="arrows-to-eye"></fa-icon></span>
    <span class="history"><fa-icon icon="timeline"></fa-icon></span>
    <span class="calendar"><fa-icon icon="calendar-alt"></fa-icon></span>
    <span class="itinerary"><fa-icon icon="location-arrow"></fa-icon></span>
  </div>
  <ion-content>
    <div id="mapId" class="map">
    </div>
  </ion-content>
</div>
